@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.main {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.main_text {
    color: #ff8000;
}

.main_text .ip {
    font-size: 32px;
    font-weight: bold;
}

#map {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5% 0 0 -15%;
}

@media only screen and (max-width: 768px) {
    #map{
        width: 40%;
        height: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -17% 0 0 -20%;
    }
  }